<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assent/error.png">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>
    <header class="header__horizontal">
        <nav class="header_horizontal--menu">
            <ul class="header__horizontal--ul">
                <li><a class="nav-li" id="next" href="/music"></a></li>
                <li><a class="nav-li" id="modo">🌓</a></li>
                <li><a class="nav-li" href="/home">| Home |</a></li>
                <li><a class="nav-li" href="/about">| About |</a></li>
                <li><a class="nav-li" href="/music">| Music |</a></li>
                <li><a class="nav-li" href="/contact">| Contact |</a></li>
            </ul>
        </nav>

        <nav class="index__header__horizontal--redes">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-apple"></i></a>
            <a href="#"><i class="fa-brands fa-amazon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <article class="404">
        <span id="element-404"></span>
    </article>

    <article class="section404">
        <figure>
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDc4eXZnajNjMXQ4YWxsNmVodzV0Y2NyNmdleG5kenF5bDlqZW16MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UoeaPqYrimha6rdTFV/giphy.gif"
                alt="404 imagen">
        </figure>
    </article>

    <footer class="footer-404-emilia">
        <a href="https://www.youtube.com/@Adeltar009" target="_blank">
            <p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p>
        </a>
    </footer>
    <audio src="/assent/piano.mp4" autoplay></audio>

    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>

</body>

</html>