<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assent/about.png">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body class="about">
    <header class="header__horizontal">
        <nav class="header_horizontal--menu">
            <ul class="header__horizontal--ul">
                <li><a class="nav-li" id="next" href="/music"></a></li>
                <li><a class="nav-li" id="modo">🌓</a></li>
                <li><a class="nav-li" href="/home">| Home |</a></li>
                <li><a class="nav-li" href="/about">| About |</a></li>
                <li><a class="nav-li" href="/music">| Music |</a></li>
                <li><a class="nav-li" href="/contact">| Contact |</a></li>
            </ul>
        </nav>
        <nav class="index__header__horizontal--redes">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-apple"></i></a>
            <a href="#"><i class="fa-brands fa-amazon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main class="about__main">
        <span id="element-about"></span>
        <span id="element-about-emilia"></span>
        <section class=" about__main__section">
            <article>
                <h4>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi numquam est sed placeat tempora
                    dolores."</h4>
                <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptatem?</p>
            </article>

            <article class="about__main__section--article2">
                <h4>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi numquam est sed placeat tempora
                    dolores."</h4>
                <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptatem?</p>
            </article>
        </section>
    </main>
    <footer class="footer-about-emilia">
        <a href="https://www.linkedin.com/in/aubar48/" target="_blank">
            <p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p>
        </a>
    </footer>

    <audio src="/assent/piano.mp4" autoplay></audio>

    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
</body>

</html>