<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assent/contact.png">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body class="contact">
    <header class="header__horizontal">
        <nav class="header_horizontal--menu">
            <ul class="header__horizontal--ul">
                <li><a class="nav-li" id="next" href="/home"></a></li>
                <li><a class="nav-li" id="modo">🌓</a></li>
                <li><a class="nav-li" href="/home">| Home |</a></li>
                <li><a class="nav-li" href="/about">| About |</a></li>
                <li><a class="nav-li" href="/music">| Music |</a></li>
                <li><a class="nav-li" href="/contact">| Contact |</a></li>
            </ul>
        </nav>
        <nav class="index__header__horizontal--redes">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-apple"></i></a>
            <a href="#"><i class="fa-brands fa-amazon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main class="contact__main">
        <ol>
            <li>
                <span id="element-contact"></span>
            </li>
            <li>
                <h2>WE ARE HERE</h2>
            </li>
            <li>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1687104119647!5m2!1ses!2sar"
                    width="1920" height="400" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>

            <li>
                <h2 class="contact__main__h2">
                    CONTACT INFO
                </h2>
                <h4>
                    MANAGEMENT | Karen Blanche
                </h4>
                <p>email: info@mysite.com</p>
                <p>phone: 123-456-7890</p>
                <h4>
                    BOOKING | Daniel Ku
                </h4>
                <p>email: info@mysite.com</p>
                <p>phone: 123-456-7890</p>
                <h4>
                    LABEL | Wix Records, Jake Coldham
                </h4>
                <p>email: info@mysite.com</p>
                <p>phone: 123-456-7890</p>
                <h4>
                    PR | That Girl Pr, Sarah Brookstone
                </h4>
                <p>email: info@mysite.com</p>
                <p>phone: 123-456-7890</p>
            </li>
            <li>
                <a href="/home">Go Home</a>
            </li>
        </ol>

    </main>

    <footer class="footer-contact-emilia">
        <a href="https://www.linkedin.com/in/aubar48/" target="_blank">
            <p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p>
        </a>
    </footer>

    <audio src="/assent/piano.mp4" autoplay></audio>

    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
</body>

</html>