<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assent/style.png">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body class="index">
    <header class="index__header__vertical">
        <nav class="index__header_vertical--menu">
            <ul class="nav-ul">
                <li><a class="nav-li" id="next" href="/about"></a></li>
                <li><a class="nav-li" id="modo">🌓</a></li>
                <li><a class="nav-li" href="/home">| Home |</a></li>
                <li><a class="nav-li" href="/about">| About |</a></li>
                <li><a class="nav-li" href="/music">| Music |</a></li>
                <li><a class="nav-li" href="/contact">| Contact |</a></li>
            </ul>
        </nav>
        <nav class="nav-ul">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-apple"></i></a>
            <a href="#"><i class="fa-brands fa-amazon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>

    <main>
        <section class="texto">
            <h1>EMILIA<br></h1>
            <h1>COLE //</h1>
            <h1>TWIST IN MY REALITY</h1>
        </section>
    </main>

    <footer class="index__footer">
        <a href="https://www.linkedin.com/in/aubar48/" target="_blank">
            <p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p>
        </a>
    </footer>

    <audio src="/assent/piano.mp4" autoplay></audio>
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
</body>

</html>