<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assent/music.png">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body class="music">
    <header class="header__horizontal__music">
        <nav class="header_horizontal--menu">
            <ul class="header__horizontal--ul">
                <li><a class="nav-li" id="next" href="/contact"></a></li>
                <li><a class="nav-li" id="modo">🌓</a></li>
                <li><a class="nav-li" href="/home">| Home |</a></li>
                <li><a class="nav-li" href="/about">| About |</a></li>
                <li><a class="nav-li" href="/music">| Music |</a></li>
                <li><a class="nav-li" href="/contact">| Contact |</a></li>
            </ul>
        </nav>
        <nav class="index__header__horizontal--redes">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-apple"></i></a>
            <a href="#"><i class="fa-brands fa-amazon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>MUSIC //</h1>
        <section>
            <article>
                <h4>DIRECT LINKS</h4>
                <ul>
                    <li>
                        <p>ALBUM</p>
                    </li>
                    <li><a href="#organicLove">Video: Organic Love</a></li>
                    <li><a href="#streetLight">Video: Street Light</a></li>
                </ul>
            </article>

        </section>
        <section>
            <article>
                <h2>ALBUM <br> TWIST IN MY REALITY</h2>
                <img src="/img/emilia-play-list.jpg" alt="emilia-play-list.jpg">
                <ol>
                    <li class="music__li"><i class="fa-solid fa-play"></i>Organic Love | 02:40</li>
                    <li class="music__li"><i class="fa-solid fa-play"></i>Twist in my reality | 02:10</li>
                    <li class="music__li"><i class="fa-solid fa-play"></i>Stree Light | 03:28</li>
                    <li class="music__li"><i class="fa-solid fa-play"></i>Love Don't Live Here Anymore (Cover) | 03:49
                    </li>
                </ol>
                <a class="music__gotop" href="#header__horizontal__music">Go Top</a>
            </article>
            <article>
                <h3 id="organicLove">VIDEO <br>ORGANIC LOVE</h3>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE <br>
                    Edited and Filmed by NICOLAS TROY <br>
                    Produced by NIKI HEART,<br>
                    Wix Films LTD.</p>
                <a class="music__gotop" href="#">Go Top</a>
            </article>
            <article>
                <h3 id="streetLight">VIDEO <br>STREET LIGHT</h3>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE <br>
                    Edited and Filmed by NICOLAS TROY <br>
                    Produced by NIKI HEART,<br>
                    Wix Films LTD.</p>
                <a class="music__gotop" href="#">Go Top</a>
            </article>
        </section>
    </main>

    <footer>
        <a href="https://www.linkedin.com/in/aubar48/" target="_blank">
            <p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p>
        </a>
    </footer>

    <audio src="/assent/piano.mp4" autoplay></audio>
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
</body>

</html>