<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body class="about">
        <%- include("partials/header") %>
            <main class="about__main">
                <span id="element-about"></span>
                <span id="element-about-emilia"></span>
                <section class="about__main__section">
                    <article>
                        <h4>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi numquam est sed placeat
                            tempora
                            dolores."</h4>
                        <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptatem?</p>
                    </article>

                    <article class="about__main__section--article2">
                        <h4>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi numquam est sed placeat
                            tempora
                            dolores."</h4>
                        <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptatem?</p>
                    </article>
                </section>
            </main>
            <%- include("partials/footer") %>

                <%- include("partials/scripts") %>
    </body>

</html>