<header class="index__header__vertical">
    <nav class="index__header_vertical--menu">
        <ul class="nav-ul">
            <li><a class="nav-li" id="next" href="/about"></a></li>
            <li><a class="nav-li" id="modo">🌓</a></li>
            <li><a class="nav-li" href="/">| Home |</a></li>
            <li><a class="nav-li" href="/about">| About |</a></li>
            <li><a class="nav-li" href="/music">| Music |</a></li>
            <li><a class="nav-li" href="/contact">| Contact |</a></li>
        </ul>
    </nav>
    <nav class="nav-ul">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-spotify"></i></a>
        <a href="#"><i class="fa-brands fa-apple"></i></a>
        <a href="#"><i class="fa-brands fa-amazon"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </nav>
</header>